PORT=8000
MONGODB_URL=mongodb://127.0.0.1:27017/staybyte
JWT_SECRET=staybyte-super-secret-key
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
CASHFREE_ENV=SANDBOX

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
